In [2]:
import pandas as pd
import numpy as np
dir = 'd:\git\project1\data'

In [3]:
btc_usd_df = pd.read_csv(f'{dir}/BTC_USD_2013-10-01_2021-05-06-CoinDesk.csv', delimiter=',')
btc_usd_df

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
0,BTC,2013-10-01,123.654990,124.304660,124.751660,122.563490
1,BTC,2013-10-02,125.455000,123.654990,125.758500,123.633830
2,BTC,2013-10-03,108.584830,125.455000,125.665660,83.328330
3,BTC,2013-10-04,118.674660,108.584830,118.675000,107.058160
4,BTC,2013-10-05,121.338660,118.674660,121.936330,118.005660
...,...,...,...,...,...,...
2755,BTC,2021-05-02,57677.975222,57741.020910,58511.256049,57062.700071
2756,BTC,2021-05-03,56427.043125,57824.300187,57925.741567,56123.039508
2757,BTC,2021-05-04,57255.306838,56639.439786,59001.359642,56508.240449
2758,BTC,2021-05-05,53658.843121,57218.805329,57246.891191,53613.595218
2759,BTC,2021-05-06,57252.702185,53270.229118,57977.613423,52987.158660

In [4]:
import time, datetime
def get_timestamp(date):
    return int(time.mktime(datetime.datetime.strptime(date, "%Y-%m-%d").timetuple()))

btc_usd_df['timestamp'] = btc_usd_df['Date'].apply(get_timestamp)
btc_usd_df

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD),timestamp
0,BTC,2013-10-01,123.654990,124.304660,124.751660,122.563490,1380567600
1,BTC,2013-10-02,125.455000,123.654990,125.758500,123.633830,1380654000
2,BTC,2013-10-03,108.584830,125.455000,125.665660,83.328330,1380740400
3,BTC,2013-10-04,118.674660,108.584830,118.675000,107.058160,1380826800
4,BTC,2013-10-05,121.338660,118.674660,121.936330,118.005660,1380913200
...,...,...,...,...,...,...,...
2755,BTC,2021-05-02,57677.975222,57741.020910,58511.256049,57062.700071,1619895600
2756,BTC,2021-05-03,56427.043125,57824.300187,57925.741567,56123.039508,1619982000
2757,BTC,2021-05-04,57255.306838,56639.439786,59001.359642,56508.240449,1620068400
2758,BTC,2021-05-05,53658.843121,57218.805329,57246.891191,53613.595218,1620154800
2759,BTC,2021-05-06,57252.702185,53270.229118,57977.613423,52987.158660,1620241200

In [5]:
del btc_usd_df['Currency']
del btc_usd_df['Date']

In [6]:
btc_usd_df = btc_usd_df.dropna()
btc_usd_df

,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD),timestamp
0,123.654990,124.304660,124.751660,122.563490,1380567600
1,125.455000,123.654990,125.758500,123.633830,1380654000
2,108.584830,125.455000,125.665660,83.328330,1380740400
3,118.674660,108.584830,118.675000,107.058160,1380826800
4,121.338660,118.674660,121.936330,118.005660,1380913200
...,...,...,...,...,...
2755,57677.975222,57741.020910,58511.256049,57062.700071,1619895600
2756,56427.043125,57824.300187,57925.741567,56123.039508,1619982000
2757,57255.306838,56639.439786,59001.359642,56508.240449,1620068400
2758,53658.843121,57218.805329,57246.891191,53613.595218,1620154800
2759,57252.702185,53270.229118,57977.613423,52987.158660,1620241200

In [6]:
def get_period_change(df, period):
    change = []
    #print(df.shape[0])
    for i in range(df.shape[0]):
        if (i >= period):
            change.append(df.loc[i, 'Closing Price (USD)'] - df.loc[i-period, 'Closing Price (USD)'])
        else:
            change.append(0)
    return change

In [7]:
def get_percent_change(df, period):
    change = []
    #print(df.shape[0])
    for i in range(df.shape[0]):
        if (i >= period):
            change.append((df.loc[i, 'Closing Price (USD)'] - df.loc[i-period, 'Closing Price (USD)'])/df.loc[i, 'Closing Price (USD)'])
        else:
            change.append(0)
    return change

In [7]:
def get_direct_change(df, period):
    change = []
    #print(df.shape[0])
    for i in range(df.shape[0]):
        if (i >= period):
            change.append(1 if (df.loc[i, 'Closing Price (USD)'] - df.loc[i-period, 'Closing Price (USD)']) > 0 else 0)
        else:
            change.append(0)
    return change

In [9]:
#period = 1
#btc_usd_df[f'change_{period}_day'] = get_period_change(btc_usd_df, period)
#btc_usd_df

,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD),timestamp,change_30_day
0,123.654990,124.304660,124.751660,122.563490,1380567600,0
1,125.455000,123.654990,125.758500,123.633830,1380654000,0
2,108.584830,125.455000,125.665660,83.328330,1380740400,0
3,118.674660,108.584830,118.675000,107.058160,1380826800,0
4,121.338660,118.674660,121.936330,118.005660,1380913200,0
...,...,...,...,...,...,...
2755,57677.975222,57741.020910,58511.256049,57062.700071,1619895600,0
2756,56427.043125,57824.300187,57925.741567,56123.039508,1619982000,0
2757,57255.306838,56639.439786,59001.359642,56508.240449,1620068400,0
2758,53658.843121,57218.805329,57246.891191,53613.595218,1620154800,0
2759,57252.702185,53270.229118,57977.613423,52987.158660,1620241200,0

In [25]:
#period = 1
#btc_usd_df[f'change_{period}_percent'] = get_percent_change(btc_usd_df, period)
#btc_usd_df

,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD),timestamp,change_1_day,change_1_percent
0,123.654990,124.304660,124.751660,122.563490,1380578400,0.000000,0.000000
1,125.455000,123.654990,125.758500,123.633830,1380664800,-0.649670,0.014348
2,108.584830,125.455000,125.665660,83.328330,1380751200,1.800010,-0.155364
3,118.674660,108.584830,118.675000,107.058160,1380837600,-16.870170,0.085021
4,121.338660,118.674660,121.936330,118.005660,1380924000,10.089830,0.021955
...,...,...,...,...,...,...,...
2755,57677.975222,57741.020910,58511.256049,57062.700071,1619906400,4142.141408,0.006507
2756,56427.043125,57824.300187,57925.741567,56123.039508,1619992800,83.279277,-0.022169
2757,57255.306838,56639.439786,59001.359642,56508.240449,1620079200,-1184.860400,0.014466
2758,53658.843121,57218.805329,57246.891191,53613.595218,1620165600,579.365543,-0.067025
2759,57252.702185,53270.229118,57977.613423,52987.158660,1620252000,-3948.576211,0.062772

In [15]:
period = 90
btc_usd_df[f'change_{period}_direct'] = get_direct_change(btc_usd_df, period)
btc_usd_df

,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD),timestamp,change_1_direct,change_3_direct,change_7_direct,change_30_direct,change_90_direct
0,123.654990,124.304660,124.751660,122.563490,1380567600,0,0,0,0,0
1,125.455000,123.654990,125.758500,123.633830,1380654000,1,0,0,0,0
2,108.584830,125.455000,125.665660,83.328330,1380740400,0,0,0,0,0
3,118.674660,108.584830,118.675000,107.058160,1380826800,1,0,0,0,0
4,121.338660,118.674660,121.936330,118.005660,1380913200,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2755,57677.975222,57741.020910,58511.256049,57062.700071,1619895600,1,1,1,0,1
2756,56427.043125,57824.300187,57925.741567,56123.039508,1619982000,0,1,1,0,1
2757,57255.306838,56639.439786,59001.359642,56508.240449,1620068400,1,0,1,0,1
2758,53658.843121,57218.805329,57246.891191,53613.595218,1620154800,0,0,0,0,1
2759,57252.702185,53270.229118,57977.613423,52987.158660,1620241200,1,1,1,0,1

In [16]:
btc_usd_df.to_csv(f'{dir}/prepared_btc.csv', index=False)

In [9]:
btc_usd_df.corr()['change_1_direct'].sort_values()

24h Open (USD)         0.002674
24h High (USD)         0.011938
24h Low (USD)          0.014080
Closing Price (USD)    0.020119
timestamp              0.025635
change_1_direct        1.000000
Name: change_1_direct, dtype: float64