In [1]:
import pandas as pd
import numpy as np
dir = 'd:\git\project1\data'

In [8]:
%%time
df = pd.read_csv(f'{dir}/tweets.csv', delimiter=';', nrows=500000)
df

Wall time: 3.16 s

,id,user,fullname,url,timestamp,replies,likes,retweets,text
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0,0,0,Ãˆ appena uscito un nuovo video! LES CRYPTOMONN...
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0,0,0,Cardano: Digitize Currencies; EOS https://t.co...
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0,2,1,Another Test tweet that wasn't caught in the s...
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0,0,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0,0,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...,...,...,...,...,...,...,...
499995,1128642524690522112,minhyor34735032,cryp trade capitar,NaN,2019-05-15 10:45:21+00,0,0,0,"Unique, modern, win-win trading strategies,\nd..."
499996,1128642603921100800,NighttimeBTC,T,NaN,2019-05-15 10:45:40+00,0,0,0,@Xentagz â€žNothing to do with bitcoinâ€œ is wrong...
499997,1128642637718806528,richkcc,Kingsley Chukwuma,NaN,2019-05-15 10:45:48+00,0,0,0,@MhizCeee @CryptoBedo @QuanNguyen2512 @cz_bina...
499998,1128642672082681857,rodrigo_dasa,Rodrigo De Castro Schiavinato,NaN,2019-05-15 10:45:56+00,0,0,0,@samydana foi um prazer ter te conhecido no ae...
499999,1128642732669448192,Mauldarthh,Darth maul,NaN,2019-05-15 10:46:11+00,0,0,0,#GetLit Lition #giveaway ðŸ”¥ðŸš€ðŸ”¥

In [12]:
del df['replies']
del df['likes']
del df['user']
del df['id']
del df['fullname']
del df['url']

KeyError: 'user'

In [41]:
df = df.dropna()
df

,timestamp,retweets,text,date,time
0,2019-05-27 11:49:14+00,0,Ãˆ appena uscito un nuovo video! LES CRYPTOMONN...,1558908000,42554
1,2019-05-27 11:49:18+00,0,Cardano: Digitize Currencies; EOS https://t.co...,1558908000,42558
2,2019-05-27 11:49:06+00,1,Another Test tweet that wasn't caught in the s...,1558908000,42546
3,2019-05-27 11:49:22+00,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...,1558908000,42562
4,2019-05-27 11:49:23+00,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...,1558908000,42563
...,...,...,...,...,...
499995,2019-05-15 10:45:21+00,0,"Unique, modern, win-win trading strategies,\nd...",1557871200,38721
499996,2019-05-15 10:45:40+00,0,@Xentagz â€žNothing to do with bitcoinâ€œ is wrong...,1557871200,38740
499997,2019-05-15 10:45:48+00,0,@MhizCeee @CryptoBedo @QuanNguyen2512 @cz_bina...,1557871200,38748
499998,2019-05-15 10:45:56+00,0,@samydana foi um prazer ter te conhecido no ae...,1557871200,38756
499999,2019-05-15 10:46:11+00,0,#GetLit Lition #giveaway ðŸ”¥ðŸš€ðŸ”¥,1557871200,38771

In [72]:
df['latin'] = df['text'].apply(lambda x: bool(re.search(r'\b\w+\w+\w+\b', x, flags=re.ASCII)))
df_clear = df[~(df['latin'] == False)]
df_clear

,timestamp,retweets,text,date,time,latin
0,2019-05-27 11:49:14+00,0,Ãˆ appena uscito un nuovo video! LES CRYPTOMONN...,1558908000,42554,True
1,2019-05-27 11:49:18+00,0,Cardano: Digitize Currencies; EOS https://t.co...,1558908000,42558,True
2,2019-05-27 11:49:06+00,1,Another Test tweet that wasn't caught in the s...,1558908000,42546,True
3,2019-05-27 11:49:22+00,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...,1558908000,42562,True
4,2019-05-27 11:49:23+00,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...,1558908000,42563,True
...,...,...,...,...,...,...
499995,2019-05-15 10:45:21+00,0,"Unique, modern, win-win trading strategies,\nd...",1557871200,38721,True
499996,2019-05-15 10:45:40+00,0,@Xentagz â€žNothing to do with bitcoinâ€œ is wrong...,1557871200,38740,True
499997,2019-05-15 10:45:48+00,0,@MhizCeee @CryptoBedo @QuanNguyen2512 @cz_bina...,1557871200,38748,True
499998,2019-05-15 10:45:56+00,0,@samydana foi um prazer ter te conhecido no ae...,1557871200,38756,True
499999,2019-05-15 10:46:11+00,0,#GetLit Lition #giveaway ðŸ”¥ðŸš€ðŸ”¥,1557871200,38771,True

In [17]:
import time, datetime
df['date'] = df['timestamp'].apply(lambda x:int(time.mktime(datetime.datetime.strptime(x.split()[0], "%Y-%m-%d").timetuple())))

In [40]:
def time_to_int(time_str):
    time_str = time_str.split('+')[0]
    hh, mm , ss = map(int, time_str.split(':'))
    return ss + 60*(mm + 60*hh)
df['time'] = df['timestamp'].apply(lambda x:time_to_int(x.split()[1]))

In [81]:
df_day = df[df['date'] == 1336946400]
df_day_max = df_day[df_day['retweets'] == df_day['retweets'].max()]
df_day_max
text = df_day_max['text'].iloc[0]
text = '@bitcoin hacked? @but it was going @to replace gold...'
text = re.sub(r'@\w+', '', text, count=0)
print (text)

 hacked?  it was going  replace gold...

In [49]:
df_clear.groupby('date').nunique()

            timestamp  retweets  text  time  latin
date
1231628400          1         1     1     1      1
1304978400          1         1     1     1      1
1305324000          1         1     1     1      1
1306447200          1         1     1     1      1
1336946400          1         1     1     1      1
...               ...       ...   ...   ...    ...
1558562400          3         2     3     3      1
1558648800          4         4     4     4      1
1558735200          3         3     3     3      1
1558821600         26        20    26    26      1
1558908000       1408        32  1589  1408      1

[493 rows x 5 columns]

In [50]:
df.groupby('date').nunique()

            timestamp  retweets  text  time  latin
date
1231628400          1         1     1     1      1
1304978400          1         1     1     1      1
1305324000          1         1     1     1      1
1306447200          1         1     1     1      1
1336946400          1         1     1     1      1
...               ...       ...   ...   ...    ...
1558562400          8         6     8     8      2
1558648800         10        10    10    10      2
1558735200         18        16    18    18      2
1558821600        103        62   104   103      2
1558908000       2781        85  4412  2781      2

[1879 rows x 5 columns]