In [1]:
import pandas as pd
import numpy as np
folder = 'd:\git\project1\generated'

In [16]:
df = pd.read_csv(f'{folder}/Headline_Crypto.csv')
df

,Date,Headline
0,2018-04-26T11:31:02+00:00,Square Books Small Profit for First Quarter of...
1,2018-05-03T15:30:59+00:00,Daily Volatility Decline? Bitcoin Has Seen $1K...
2,2018-05-03T15:30:59+00:00,Sell In May and Go Away? Not for Bitcoin Bulls
3,2018-05-02T21:10:20+00:00,Reddit to Relaunch Bitcoin Payments (And Add M...
4,2018-05-03T18:00:39+00:00,Bitcoin Futures Trading Questioned By Chinese ...
...,...,...
16601,"\r\r\n Updated April 9, 2013 2:48 p.m. ET\r\r\n",Tech Entrepreneurs Invest in Trading Platform ...
16602,"\r\r\n April 4, 2013\r\r\n",Eine Kleine Trauermusik
16603,"\r\r\n March 29, 2013 11:34 a.m. ET\r\r\n",Cyprus and Cybermoney
16604,"\r\r\n Updated March 21, 2013 10:02 p.m. ET\r...",Web Money Gets Laundering Rule
16605,"\r\r\n February 11, 2012\r\r\n",Time for Cash to Cash Out?

In [25]:
def get_data(x):
    try:
        res = int(time.mktime(datetime.datetime.strptime(x.split('T')[0], "%Y-%m-%d").timetuple()))
    except ValueError:
        res = None
    return res

import time, datetime
df['date'] = df['Date'].apply(lambda x: get_data(x))
#df['time'] = time_to_int(datetime_string.split()[1])

<ipython-input-25-c3d3d6c9f5be>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['Date'].apply(lambda x: get_data(x))

In [26]:
df = df.dropna()
df

,Date,Headline,date
0,2018-04-26T11:31:02+00:00,Square Books Small Profit for First Quarter of...,1524693600
1,2018-05-03T15:30:59+00:00,Daily Volatility Decline? Bitcoin Has Seen $1K...,1525298400
2,2018-05-03T15:30:59+00:00,Sell In May and Go Away? Not for Bitcoin Bulls,1525298400
3,2018-05-02T21:10:20+00:00,Reddit to Relaunch Bitcoin Payments (And Add M...,1525212000
4,2018-05-03T18:00:39+00:00,Bitcoin Futures Trading Questioned By Chinese ...,1525298400
...,...,...,...
10234,2018-05-04T11:00:15+00:00,Is Bitcoin Really the Next Internet?,1525384800
10235,2018-05-04T11:00:15+00:00,Bitcoin Core Developers Weigh in on Side Chain...,1525384800
10236,2018-05-04T11:00:15+00:00,Developers Battle Over Bitcoin Block Chain,1525384800
10237,2018-05-04T11:00:15+00:00,"Roger Ver, Bobby Lee Top Speaker List for Chin...",1525384800
10238,2018-05-04T05:45:34+00:00,Is Bitcoin a Digital Currency or a Virtual One?,1525384800

In [30]:
df.groupby('date').nunique()

            Date  Headline
date
1369260000     1        13
1369864800     1         1
1370988000     1         1
1371506400     1         1
1371765600     1         1
...          ...       ...
1525039200    15       538
1525125600    12       455
1525212000    15       662
1525298400    16      2953
1525384800    13      1306

[438 rows x 2 columns]